Database
Utilize below template for different database platform, doesn't have to be exact
[host platform]_DB_USERNAME=""
[host platform]_DB_PWD=""
[host platform]_SERVER=""
[host platform]_DB_NAME=""

Large Object Storage
Utilize below template for different BLOB storage platforms, doesn't have to be exact

